@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .team-list {
        display: flex;
        gap: 24px;
    }

    .team-blok {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .team-blok {
        flex-basis: calc((100% - 72px) / 4);
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
    .team > .container {
        width: 480px;
    }
}