@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .company-list {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    .company-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .feature-list {
        display: flex;
        gap: 24px;
    }

    .feature-item {
        flex-basis: calc((100% - 48px) / 2);
    }

    .team-list {
        display: flex;
        gap: 24px;
    }

    .team-blok {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .feature {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .feature-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .team-blok {
        flex-basis: calc((100% - 72px) / 4);
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .company {
        padding-top: 127px;
        padding-bottom: 120px;
    }

    .company-item {
        width: 168px;
    }
}

/*@media screen and (min-width: 768px) and (max-width: 1158px) {
    .team>.container {
        width: 480px;
    }
}*/