@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }

    .hero {
        background: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 112px;
        padding-bottom: 112px;
        margin: 0 auto;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x.jpg);
        }
    }

    .mob-menu-phone {
        font-size: 36px;
        line-height: calc(40 / 36);
    }

    /*.company-item {
        flex-basis: calc(100% / 2 - 16px);
    }*/

}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header {
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .hero {
        background: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 112px;
        padding-bottom: 112px;
        height: 436px;
        max-width: 768px;
        margin: 0 auto;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-2x.jpg);
        }
    }

    .hero-conteiner {
        padding-right: 136px;
        padding-left: 136px;
    }

    .hero-title {
        min-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        text-transform: capitalize;
    }

     .header-list {
         list-style: none;
         display: flex;
     }
    
     .header-navigation {
          display: flex;
         align-items: center;
         margin-right: auto;
     }
    
    .header-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-right: 40px;
    }
    
    .header-item:last-child {
        margin-right: 0;
    }
    
    .header-contact-item {
        list-style: none;
        display: block;
    }

    .header-contact-list {
        margin-bottom: 12px;
    }

    .header-contact-list:last-child {
        margin-bottom: 0;
    }

    .header-contact-phone {
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.04em;
    }
    
    .current {
        position: relative;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        height: 4px;
        background: #404BBF;
        border-radius: 2px;
    }

    .header-link {
        color: #2E2F42;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    .header .header-link:hover,
    .header .header-link:focus {
        color: #404bbf;
    }
        
    .header-contact-mail {
        display: unset;
        color: #434455;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        font-style: normal;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    .header-contact-mail:hover,
    .header-contact-mail:focus {
        color: #404bbf;
    }
        
    .header-contact-phone {
        display: unset;
        color: #434455;
        font-family: 'Roboto',
             sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    .header-contact-phone:hover,
    .header-contact-phone:focus {
        color: #404bbf;
    }

    .header-logo-portfolio {
        margin-right: 120px;
    }
        
    .header-contact {
        font-style: normal;
        list-style: none;
    }

    .menu-open-btn {
        display: none;
    }

    .company-list {
        gap: 72px 24px;
    }

    .company-item {
        width: 168px;
        /*flex-basis: calc((100% - 48px) / 3);*/
    }

    .feature-tytle {
        /*display: unset;*/
        text-align: unset;
        font-weight: 700;
    }

    .feature-text {
        /*width: 264px;*/
        font-weight: 500;
        font-size: 16px;
    }

    .feature-list {
        display: flex;
        gap: 72px 24px;
    }

    .feature-item {
        flex-basis: calc((100% - 48px) / 2);
    }
    .footer-label {
        width: 264px;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .footer-tytle {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .footer-wrap {
        flex-direction: row;
        gap: 24px;
    }

    .footer-title {
        align-items: start;
        justify-content: start;
    }

    .footer-logo {
        align-items: start;
        justify-content: start;
    }


    .footer-logo-cont {
        margin: 0;
        max-width: 264px;
    }


    .footer-list {
        display: flex;
        align-items: baseline;
    }

    .subscribe {
        display: unset;
    }

    .modal {
        width: 408px;
        height: 584px;
    }

}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .header {
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .header-contact-item {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-contact-list {
        margin: 0;
    }

    .header-contact-phone {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24 / 16);
    }

    .current::after {
        content: "";
        position: absolute;
        bottom: -25px;
    }

    .hero {
        height: 600px;
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .feature {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .feature-tytle {
        font-size: 20px;
        line-height: 1.2;
        max-width: 264px;
        height: 24px;
        color: #2E2F42;
    }

    .feature-text {
        font-size: 16px;
        line-height: 1.5;
    }

    .feature-list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .feature-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .container-icon {
        display: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F4F4FD;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }

    .picture {
        display: unset;
    }

    .team-blok {
        flex-basis: calc((100% - 72px) / 4);
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        display: flex;
        flex-wrap: nowrap;
    }

    .team-soc-item {
        width: 40px;
        height: 40px;
    }


    .company {
        padding-top: 127px;
        padding-bottom: 120px;
    }


    .company-list {
        flex-wrap: nowrap;
    }

    .company-icon {
        width: 104px;
        height: 54px;
    }

    .footer-container {
        align-items: stretch;
        gap: unset;
        flex-wrap: nowrap;
    }

    .footer-logo {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .footer-text {
        min-width: 264px;
    }

    .footer-logo-cont {
        margin-right: 120px;
    }

    .footer-soc {
        margin-right: 80px;
    }

    .subscribe {
        width: 100%;
    }

    .footer-tytle {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 16px;
    }

    .footer-title {
        display: unset;
    }

    .footer-input {
        width: 264px;
        height: 40px;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    }
    .footer-input::placeholder {
        color: #FFFFFF;
        opacity: 0.6;
    }

    .footer-wrap {
        flex-direction: unset;
        margin-top: 16px;
    }

}

/*@media screen and (min-width: 768px) and (max-width: 1158px) {
    .team > .container {
        width: 428px;
    }
}*/

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer>.container {
        padding: 0 108px;
    }

}